# Projeto 01

### Com o aumento do IDH, o consumo de álcool e cigarro tende a cair?

O IDH (Índice de Desenvolvimento Humano) é a forma como medimos o desenvolvimento humano em cada país, logo ele é calculado a partir de dados como a educação, expectativa de vida e o PIB per capita. Porém sabemos que além disso, muitas variáveis possuem uma correlação com o IDH, sendo assim impactam indiretamente em seu valor.

O objetivo deste projeto é, por meio de uma análise descritiva de diversos Data Frames, verificar se com o aumento do IDH, o consumo de álcool e cigarro tende a diminuir.

É importante ressaltar que as bases de dados usadas foram todas retiradas do site: https://www.gapminder.org/

## Introdução

Sabe-se que o consumo de álcool e cigarro é muito utilizado, sendo a dependencia química dos mesmos muito associada a tempos difíceis. Conhecemos histórias como a de Mário de Andrade, poeta e escritor brasileiro da primeira geração do modernismo no país. Ao ver o seu amado país sob uma ditadura (Estado Novo de Getúlio Vargas, pós-1937), aquilo que ele mais repugnava, sente como se tivesse falhado em sua missão. Um movimento que falava tanto de liberdade em tantos sentidos e em se assumir uma nacionalidade própria, o tal do "Brasil brasileiro". Assim, Mário passou a beber, transformou a bebida em sua fuga da  realidade, tristeza e melancolia recaíam sobre o mesmo. Até que em 1945, já alcoólatra há alguns anos, ele morre devido a um infarto do miocárdio, o que hoje sabemos que isso só aconteceu devido ao consumo excessivo de álcool.

Já cigarros tem o mesmo peso negativo a uma pessoa, sendo no geral uma fuga ao stress. Seus efeitos são de prazer e satisfação. Sabemos também que o aumento do uso de cigarros se deve, em parte, a urbanização. Também sabemos que pode ser muito prejudicial a saúde se usado com frequencia e manter o hábito por anos.

Dado isso, podemos associar o IDH a um sentimento de satisfação com o próprio país também, sendo assim um país com maior IDH possui "menos problemas" e por isso seria uma razão para, no decorrer do tempo, haver uma diminuição no uso dessas substâncias.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline

In [17]:
alcool=pd.read_csv('alcohol_consumption.csv')
GDPcapita=pd.read_csv('gdppercapita_us_inflation_adjusted.csv')
IDH=pd.read_csv('hdi_human_development_index.csv')
life=pd.read_csv('life_expectancy_years.csv')
cigarro=pd.read_csv('smoking_adults_percent_of_population_over_age_15.csv') #singaro da cãnsir

In [18]:
GDP_alcool=GDPcapita.join(alcool, how='inner', lsuffix='_GDP', rsuffix='_alc')

In [19]:
GDP_alcool.head(3)

,geo_GDP,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,1999_alc,2000_alc,2001_alc,2002_alc,2003_alc,2004_alc,2005_alc,2006_alc,2007_alc,2008_alc
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.03
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.68,NaN,NaN,7.29
2,Algeria,2470.0,2080.0,1630.0,2130.0,2200.0,2280.0,2110.0,2240.0,2410.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.96,NaN,NaN,0.69

In [20]:
GDPcapita.head(3)

,geo,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,440.0,445.0,525.0,553,569.0,630.0,634.0,630.0,620.0,618.0
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3610.0,3780.0,3930.0,4090,4210.0,4280.0,4330.0,4410.0,4520.0,4680.0
2,Algeria,2470.0,2080.0,1630.0,2130.0,2200.0,2280.0,2110.0,2240.0,2410.0,...,4360.0,4390.0,4390.0,4460,4500.0,4560.0,4600.0,4680.0,4760.0,4830.0

In [21]:
alcool.head(3)

,geo,1985,1986,1987,1988,1989,1990,1991,1992,1993,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,NaN,0.03
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.68,NaN,NaN,7.29
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.96,NaN,NaN,0.69