# Projeto 01

### Com o aumento do IDH, o consumo de Ã¡lcool tende a cair?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
11 94778-0571
% matplotlib inline

In [8]:
alcool=pd.read_csv('alcohol_consumption.csv')
GDPcapita=pd.read_csv('gdppercapita_us_inflation_adjusted.csv')
IDH=pd.read_csv('hdi_human_development_index.csv')

                        geo  2002  2003  2004  2005
0                   Albania  22.4   NaN   NaN  22.4
1                   Algeria  15.2   NaN   NaN  15.2
2                   Andorra  32.9   NaN   NaN  32.9
3                 Argentina  30.0   NaN   NaN  30.0
4                   Armenia  29.6   NaN   NaN  29.6
5                 Australia  24.8   NaN   NaN  24.8
6                   Austria  43.3   NaN   NaN  43.3
7                   Bahrain  14.6   NaN   NaN  14.6
8                Bangladesh  25.6   NaN   NaN  25.6
9                  Barbados  10.8   NaN   NaN  10.8
10                  Belarus  42.6   NaN   NaN  42.6
11                  Belgium  27.1   NaN   NaN  27.1
12                  Bolivia  31.7   NaN   NaN  31.7
13   Bosnia and Herzegovina  42.3   NaN   NaN  42.3
14                 Bulgaria  37.7   NaN   NaN  37.7
15             Burkina Faso  16.6   NaN   NaN  16.6
16                 Cambodia  23.6   NaN   NaN  23.6
17                 Cameroon   7.4   NaN   NaN   7.4
18                   Canada  21.6   NaN   NaN  21.6
19                     Chad   9.4   NaN   NaN   9.4
20                    Chile  37.9   NaN   NaN  37.9
21                    China  31.8   NaN   NaN  31.8
22                  Comoros  20.7   NaN   NaN  20.7
23         Congo, Dem. Rep.   8.1   NaN   NaN   8.1
24              Congo, Rep.   6.6   NaN   NaN   6.6
25               Costa Rica  16.8   NaN   NaN  16.8
26            Cote d'Ivoire   9.0   NaN   NaN   9.0
27                  Croatia  34.0   NaN   NaN  34.0
28                     Cuba  35.9   NaN   NaN  35.9
29           Czech Republic  31.0   NaN   NaN  31.0
..                      ...   ...   ...   ...   ...
98                  Senegal  10.7   NaN   NaN  10.7
99                   Serbia  42.3   NaN   NaN  42.3
100              Seychelles  21.2   NaN   NaN  21.2
101         Slovak Republic  30.9   NaN   NaN  30.9
102                Slovenia  26.5   NaN   NaN  26.5
103            South Africa  18.4   NaN   NaN  18.4
104             South Korea  29.7   NaN   NaN  29.7
105                   Spain  33.7   NaN   NaN  33.7
106               Sri Lanka  16.5   NaN   NaN  16.5
107               St. Lucia  20.6   NaN   NaN  20.6
108               Swaziland   8.9   NaN   NaN   8.9
109                  Sweden  22.0   NaN   NaN  22.0
110             Switzerland  26.5   NaN   NaN  26.5
111                Tanzania  14.6   NaN   NaN  14.6
112                Thailand  21.7   NaN   NaN  21.7
113                   Tonga  39.0   NaN   NaN  39.0
114     Trinidad and Tobago  22.1   NaN   NaN  22.1
115                 Tunisia  26.6   NaN   NaN  26.6
116                  Turkey  35.5   NaN   NaN  35.5
117                  Uganda  12.1   NaN   NaN  12.1
118    United Arab Emirates  14.4   NaN   NaN  14.4
119          United Kingdom  35.7   NaN   NaN  35.7
120           United States  23.9   NaN   NaN  23.9
121                 Uruguay  32.6   NaN   NaN  32.6
122              Uzbekistan  12.8   NaN   NaN  12.8
123                 Vanuatu  28.8   NaN   NaN  28.8
124               Venezuela  29.8   NaN   NaN  29.8
125                 Vietnam  24.3   NaN   NaN  24.3
126                  Zambia  13.4   NaN   NaN  13.4
127                Zimbabwe  15.0   NaN   NaN  15.0

[128 rows x 5 columns]